
/* #projects{
    background-color:whitesmoke
} */
p{
    color:grey
}
h2{
    font-size: 1.5em
}
h1{
    font-size: 2.0em
}
#skills{
    background-color:rgb(42, 159, 186);
    color: white;
}
#leadership{
    background-color:rgb(42, 159, 186);
    color: white;
}
