<header>
    <div class="view">
        <img class="img-fluid" src="../assets/images/banner.jpg" width="100%">
        <div class="mask flex-center rgba-grey-light text-center">
            <h2 class="white-text text-fluid animated fadeIn" data-wow-duration="0.9s">"Passion lies at the
                intersection of creativity and curiosity"</h2>
        </div>
    </div>
</header>

<!-- side Image -->
<div class="row m-5 animated fadeIn" data-wow-duration="0.9s">
    <div class="col-md-3 col-lg-3">
        <img class="img-fluid rounded img-thumbnail" src="../assets/images/keith.jpg">
        <p class="grey-text font-italic mt-4">I am a software developer who is very passionate about creating products
            that
            solve real world problems. I thrive working in a dynamic team environment that promotes growth, teamwork,
            and development.</p>
    </div>
    <!-- end of side image -->

    <!-- my story section -->
    <div class="col-md-8 grey-text">
        <h1 class="text-center siliconvalley">In the Land of the Purple Pumpkin Coders</h1>
        <p>Hi my name is Keith Nguyen and what makes me unique is that I am an eight armed purple pumpkin eater. OK ok
            I’m not!! But sometimes I wished that I had eight arms because it would make my love of design and
            programming so much easier!! One arm to code, one arm to debug, one arm to design and many arms for coffee!
            And who doesn’t love pumpkin pie right?</p>
        <p>I enjoy designing storyboards and brining concepts to life by code.</p>
        <p>My more serious skill sets are listed below, but I’m more interesting in finding a development team that
            enjoys their work, supports their co-workers, and strives to innovate each and every day.</p>
        <p>In all honesty, I live by three basic rules. Stay humble, stay hungry and always stay ready.</p>

        <!-- <p>My journey into software development began at a very young age. My family settled into Silicon Valley and
            was part of the tech revolution after we were displaced during the Vietnam War. My father worked as a
            engineer and my mom a technician for a bio medical company. Like many families we struggled to adjust
            culturally and economically but worked hard everyday to make a better life for ourselves here.</p>
        <p>My dad taught me from a young age to build, tinker and play with computers. Our first computer was a pentium
            x486 built by hand before it became more economically prudent to buy computers prepackaged through large
            companies like dell.</p>
        <p>From a very young age I always enjoy tinkering with new technology, sometimes breaking them to find out how
            it works and putting them back together. Needless to say this became an expensive hobby, but "that"
            curiosity never left me, It is part of who I am. Love me or hate me, i break things to learn, but always
            strive to make them better!
        </p>
        <p>Many years later coding has become an off shoot from my creativity. Integrating design, User Interfaces, and
            code into a working product that others can use drives me everyday. I love the feeling of delivering a
            finish product to a client. It feels great to see a plan come together. Let's build something!</p> -->
        <!-- my story section end -->
        <hr>
        <div class="float-left">
            <h6 class="title mb-4 font-bold">Contact Me</h6>
            <p><i class="fa fa-home mr-3"></i> San Jose CA, 95148</p>
            <p><i class="fa fa-envelope mr-3"></i> Khoacn@gmail.com</p>
            <p><i class="fa fa-phone mr-3"></i> 408-497-0210</p>
            <!-- <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p> -->
        </div>
        <div class="row float-left">
            <div class="col-md-12">
                <!--Social buttons-->
                <div class="social-section text-center text-md-left">
                    <ul>
                        <a class="btn-floating btn-sm siliconvalley " href="https://github.com/lostanchovy"
                            target="_blank"><i class="fab fa-github-square fa-5x"></i></a>
                        <a class="btn-floating btn-sm siliconvalley " href="http://linkedin.com/in/keith-nguyen"
                            target="_blank"><i class="fab fa-linkedin fa-5x"></i></a>
                    </ul>
                </div>

                <!--/.Social buttons-->
            </div>
        </div>
    </div>
</div>
<!-- end of header section  -->

<!-- Skills section -->
<div class="container-flex white-text" id="skills">
    <h1 class="white-grey text-center p-4">Technical Skills</h1>
    <div class="row text-center text-md-left mt-3 pb-3">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Languages</h6>
            <p class="white-text">HTML5/CSS3</p>
            <p class="white-text">Python</p>
            <p class="white-text">JavaScript</p>
            <p class="white-text">Swift</p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Frameworks</h6>
            <p class="white-text">Angular</p>
            <p class="white-text">Django</p>
            <p class="white-text">Node.js</p>
            <p class="white-text">Flask</p>
            <p class="white-text">Sequelize</p>
            <p class="white-text">SCRUM/Agile</p>

        </div>
        <!--/.Second column-->

        <hr class="w-100 clearfix d-md-none">

        <!--Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Technologies</h6>
            <p class="white-text">Express</p>
            <p class="white-text">Mongoose</p>
            <p class="white-text">Adobe Creative Suit</p>
            <p class="white-text">Sketch</p>
            <p class="white-text">GitHub</p>
            <p class="white-text">Bitbucket</p>
        </div>
        <!--/.Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Libraries</h6>
            <p class="white-text">jQuery</p>
            <p class="white-text">React</p>
            <p class="white-text">Redux</p>
            <p class="white-text">bootstrap</p>
        </div>
        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Databases & Deployment</h6>
            <p class="white-text">MySQL</p>
            <p class="white-text">MongoDB</p>
            <p class="white-text">Amazon AWS (Ec2)</p>
        </div>
        <hr class="w-100 clearfix d-md-none">
    </div>
</div>

<!-- Projects secion -->
<div class="container-flex">
    <h1 class="white-grey text-center mt-2 siliconvalley">Coding Projects</h1>
    <section class="m-3 animated fadeIn">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="card mb-4 view overlay">
                    <img class="img-fluid" src="../assets/images/Woodtable2.jpg" alt="reclaimed wood table">
                    <div class="mask flex-center rgba-grey-light"></div>
                    <div class="card-body">
                        <h4 class="card-title siliconvalley text-center">Nyjahwood Customized Reclaimed Furniture</h4>
                        <p class="card-text">Nyjahwood is a user friendly ecommerce web based application built using
                            the MEAN stack (MongoDB, Express, Angular and Node.js). The application has a custom built
                            content management system for easy administrative privileges and rights, and friendly UX/UI
                            interface for clients. The app also integrates JSON Web Tokens (JWT) for user
                            authentication and API route security. The Application was designed and coded from scratch
                            for a custom feel and experince. <a href="https://github.com/LostAnchovy/nyjahwood">Github
                                Repository</a> </p>
                        <div class="mb-3"><a href="/assets/images/Njahwood.pdf" download>Download Sketch PDF</a></div>

                        <p class=" card-text font-weight-bold">Technology: Angular 5, Express, Node.JS, Mongoose,
                            Bootstrap, JWT tokens, Nodemailer,Bcrypt, Sketch, Git
                        </p>
                        <!-- <a class="btn btn-light-green" href="https://youtu.be/7IKobCF93_E"  target="_blank">View Project</a> -->
                        <a href="#myModal" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"
                            data-theVideo="">View Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="card mb-4 view overlay">
                    <img class="img-fluid" src="../assets/images/GoLuckyCat.jpg" alt="GoLuckCat app image">
                    <div class="mask flex-center rgba-grey-light"></div>
                    <div class="card-body">
                        <h4 class="card-title siliconvalley text-center">GoluckyCat - Services in your language!</h4>
                        <p class="font-weight-bold text-center">PROJECT IN PROGRESS</p>
                        <p class="card-text">GoLucky Cat is a web application that allows users and providers to
                            interact and exchange daily services in their native language.. The web application is built
                            using the MEAN stack. Simple and user friendly UX/UI make for great user experience.<a
                                href="https://github.com/LostAnchovy/goluckycat">Github
                                Repository</a></p>
                        <div class="mb-3"><a href="/assets/images/GoLuckyCat.pdf" download>Download Sketch PDF</a></div>
                        <p class=" card-text font-weight-bold"> Technology: Angular 7, Express, Node.Js, Mongoose,
                            Bootstrap, JWT tokens, Nodemailer, Sketch, Angular Materials, Git, Karma(code testing) </p>
                        <a href="#catModal" class="btn btn-outline-primary" data-toggle="modal" data-target="#catModal"
                            data-theVideo="">View Demo</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card mb-4 view overlay">
                    <img class="img-fluid" src="//apps.vendini.com/i/a01959a290d87b1c64a1b97491288b5180a767c4.jpg"
                        alt="Card image cap">
                    <div class="mask flex-center rgba-grey-light"></div>
                    <div class="card-body">
                        <h4 class="card-title siliconvalley text-center">SF Carnaval</h4>
                        <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end
                            frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM
                            master, and a Project Owner using the SCRUM project framework. The web applicatin was buit
                            for Caranaval SF, a non-profit organizaiton, dedicated preserving the diverse Latin
                            American and Caribbean roots of the Mission District.<a
                                href="https://github.com/LostAnchovy/sf-carnaval-1" target="_blank">Github
                                Repository</a></p>
                        <div class="mb-3"><a href="/assets/images/CarnavalSF.pdf" download>Download Sketch PDF</a></div>
                        <p class=" card-text font-weight-bold">Technology: Mapbox, Angular 5, Ruby on Rails, Bootstrap
                        </p>
                        <a class="btn btn-outline-primary" href="http://carnavalsf.netlify.com/"
                            target="_blank">Deployed
                            Project</a>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseCarnaval" aria-expanded="false" aria-controls="collapseCarnaval">
                                project details
                        </a> -->
                        <!-- <div class="collapse" id="collapseCarnaval">
                                <div class="mt-3">
                                  <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM master, and a Project Owner working using the SCRUM project framework.  The team used multiple technologies such as Mapbox, Angular, ruby on rails, and bootstrap to make the app user friendly, responsive and accessible across many platforms. </p>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="card mb-4 view overlay">
                    <img class="img-fluid" src="../assets/images/hooked.png" alt="hooked event site image">
                    <div class="mask flex-center rgba-grey-light"></div>
                    <div class="card-body">
                        <h4 class="card-title siliconvalley text-center">Hooked - Event Registration Application</h4>
                        <p class="font-weight-bold text-center">PROJECT IN PROGRESS</p>
                        <p class="card-text">Hooked is an event web application built to host kayak fishing events. The
                            application has complete Resful API and CRUD functionality and will be deployed on AWS as
                            an EC2 instance. The app integrates JSON web tokens to authenticate users and protect
                            sensitive API routes. Event Design as done using sketch app. <a
                                href="https://github.com/LostAnchovy/hooked">Github
                                Repository</a> </p>
                        <p class=" card-text font-weight-bold">Technology: React.JS, Redux, Express, Node.Js, MySql,
                            Sequelize, JWT tokens</p>
                        <!-- <a href="#hookedModal" class="btn btn-outline-primary" data-toggle="modal" data-target="#catModal"
                            data-theVideo="">View Demo</a> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4 ">
                        <div class="card mb-4 view overlay">
                            <img class="img-fluid" src="../assets/images/TLA.jpg" alt="Lost Anchovy Logo">
                            <div class="mask flex-center rgba-grey-light"></div>
                            <div class="card-body">
                                <h4 class="card-title siliconvalley">The Lost Anchovoy (IOS APP)</h4>
                                <p class="card-text text-justify">Are you a fishing enthusiast, a beginner, or just a father that wants to take his kid fishing for the day? The Lost Anchovy is an application to help the average person and the experience fisherman learn learn how to catch, prepare and cook their own catch! <a href="https://github.com/LostAnchovy/lostanchovyapp" target="_blank">Github Repository</a></p> 
                                <p class="card-text font-weight-bold">Technology: UIKit, coreLocation, and Mapkit</p> -->
            <!-- <a class="btn btn-primary">project details</a> -->

            <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseIOS" aria-expanded="false" aria-controls="collapseIOS">
                                        project details
                                </a> -->
            <!-- <div class="collapse" id="collapseIOS">
                                        <div class="mt-3">
                                            <p class="card-text">The Lost Anchovy App is an IOS application that provides locations, recipes, navigation, and tutorials for the Northern California fishing enthusiast or beginner. It was built with a team of <span class="font-weight-bold">2 developers using swift, UIKit, coreLocation, and Mapkit</span></p>
                                        </div>
                                    </div> -->
            <!-- </div>
                        </div>
                    </div> -->
        </div>
    </section>
</div>
<!-- Marketing -->
<div class="container-flex testimonials m-3 p-3" id="marketing">
    <div class="mb-3">
        <h1 class="white-grey text-center mb-2 siliconvalley text-white container-marketing"> Customized Digital
            Marketing Services </h1>
    </div>
    <div class="row text-center" id="container-marketing2">
        <div class="col-lg-4 mb-3">
            <img src="../assets/images/social.png" alt="social media button" />
            <h2 class="text-white">Social Content Marketing</h2>
            <p>Connect to your customers on important social networking platforms such as Facebook, Twitter, Instagram,
                and YouTube. Create your brand. Focus your brand message and share your product or service to your
                audience online.</p>
        </div>
        <div class="col-lg-4 mb-3">
            <img src="../assets/images/analytics.png" alt="Data Image" />
            <h2 class="text-white">Data Analytics</h2>
            <p>Integrate analytics to provide up to the minute data that help you drive business and marketing
                strategies. Find out where customers are coming from, how they heard about your business and what
                devices they are using. Important business factors that drive marketing strategies.</p>
        </div>
        <div class="col-lg-4 mb-3">
            <img src="../assets/images/SEO.png" alt="SEO image" />
            <h2 class="SEO Services">SEO Services</h2>
            <p>Outrank your competition with effective SEO services. Make it easier for everyone to find your business
                online and attract more customers. Turn those leads to paying customers that drive up your business and
                increase profits.</p>
        </div>
    </div>
</div>
<!-- end of marketing section -->

<!-- word press section -->
<div class="container-flex wp-projects m-3 p-3">
    <div class="mb-4">
        <h1 class="siliconvalley text-center mb-4 wp-projects">Word Press Projects</h1>
        <h2 class="text-center siliconvalley">Custom built modern websites that drive results </h2>
    </div>
    <div class="row wp-projects2" id="wordpress-projects">
        <div class="col-md-4 mb-3">
            <div class="card view overlay wp-cards">
                <img class="img-fluid center cover" src="../assets/images/Woodtable2.jpg" alt="reclaimed wood table">
                <a href="https://nyjahwood.com/" target="_blank">
                <div class="mask flex-center rgba-grey-light">
                    <h1 class="text-white">Nyjahwood</h1>
                    <small class="text-white">reclaimed wood website</small>
                </div>  
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
                <div class="card view overlay wp-cards">
                    <img class="img-fluid center cover" src="../assets/images/loletaeric.png" alt="reclaimed wood table">
                    <a href="https://loletaeric.com/" target="_blank">
                    <div class="mask flex-center rgba-grey-light">
                        <!-- <h1 class="text-white">Nyjahwood</h1>
                        <small class="text-white">reclaimed wood website</small> -->
                    </div>  
                    </a>
                </div>
            </div>

                <div class="col-md-4 mb-3">
                    <div class="card view overlay wp-cards">
                        <img class="img-fluid" src="../assets/images/akirasf.png" alt="akirasf">
                        <a href="https://akirasf.com/" target="_blank">
                        <div class="mask flex-center rgba-grey-light">
                                <h1 class="text-white">Akirasf</h1>
                                <small class="text-white">Japanese Restaurant</small>
                        </div>  
                        </a>
                    </div>
                </div>
        </div>
        <div class="row wp-projects2" id="wordpress-projects">
                <div class="col-md-4 mb-3">
                        <div class="card view overlay wp-cards">
                            <img class="img-fluid" src="../assets/images/diapers_logo.png" alt="diapers_logo">
                            <a href="https://www.diapersandcoffee.com/" target="_blank">
                            <div class="mask flex-center rgba-grey-light">
                                <h1 class="text-white">Diapers and coffee</h1>
                                <small class="text-white">lifestyle blog</small>
                            </div>  
                            </a>
                        </div>
                    </div>
            
                <!-- <div class="col-md-4 mb-3">
                        <div class="card view overlay wp-cards">
                            <img class="img-fluid" src="../assets/images/gameshop.png" alt="gameshop_logo">
                            <a href="https://www.diapersandcoffee.com/" target="_blank">
                            <div class="mask flex-center rgba-grey-light">
                                <h1 class="text-white">gameshop</h1>
                                <small class="text-white">retro game store</small>
                            </div>  
                            </a>
                        </div>
                    </div> -->

                    <div class="col-md-4 mb-3">
                            <div class="card view overlay wp-cards">
                                <img class="img-fluid" src="../assets/images/estatephotography.jpg" alt="estatephotography">
                                <a href="https://keithnguyenphotos.com/" target="_blank">
                                <div class="mask flex-center rgba-grey-light">
                                        <h1 class="text-white">Keith Nguyen</h1>
                                        <small class="text-white">Professional Photography</small>
                                </div>  
                                </a>
                            </div>
                        </div>
                    <div class="col-md-4 mb-3">
                            <div class="card view overlay wp-cards">
                                <img class="img-fluid" src="../assets/images/Bigsur.png" alt="big sure coast">
                                <a href="https://thelostanchovy.com/" target="_blank">
                                <div class="mask flex-center rgba-grey-light">
                                    <h1 class="text-white">The Lost Anchovy</h1>
                                    <small class="text-white">Kayak Fishing Blog and Tutorials</small>
                                </div>  
                                </a>
                            </div>
                        </div>  
            </div>
</div>
<!-- end of word press section -->

<!-- <section id="leadership" class="p-4">
    <h1 class="text-center">Leadership and Managment</h1>
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Policy Advisor - Office of Mayor Chuck Reed</h2>
            <ul>
                <li>Lead, and draft policy agenda's and memorandums for the Mayor’s Gang Prevention Task Force --a
                    multi-agency collaborative collective that works to address violent crime. Agencies include
                    District Attorney's Office, Santa Clara County, Local School Districts, Sherrifs Dept, and San Jose
                    police Dept. <a href="http://sanfrancisco.cbslocal.com/2012/04/02/san-jose-gang-task-force-gets-national-attention/"
                        target="_blank">San Jose MGPTF Gains National Attention </a></li>
                <br>
                <li>Lead Mayor's Gang Prevention Task Force subcommitte focused on action oriented stragegies focused
                    on decreasing gang violence. The <a href="https://www.mercurynews.com/2012/02/09/san-joses-safe-summer-initiative-gets-boost-from-grant-as-fund-drive-begins/"
                        target="_blank">Safe Summer Iniative</a> raised over $400,000 and served over 2,232 youths
                    across 38 different agencies. The net result was a decrease in 22.08% in violent crime over the
                    summer months.</li>
                <br>
                <li>Lead and manage projects on behalf of the Mayor’s office. Projects include Mayor’s Annual State of
                    the City Address, <a href="https://www.nbcbayarea.com/news/local/San-Jose-to-Hold-Annual-Summit-on-Gang-Prevention-Mayor-Attending-244567181.html"
                        target="_blank">Crime and Gang Prevention Summit</a>, and a Community Resource Fair that
                    brought together 100 non-profit organizations to serve over 10,000 residents.</li>
            </ul>

        </div>
        <div class="col-md-4">
            <h2 class="text-center">Quality Assurance Executive</h2>
            <ul>
                <li>Created and Develop staff training and assessment strategies that saw an increase in resource
                    efficiencies and staff production by over 50%</li>
                <br>
                <li>Develop from scratch a training system that provided structured assessments and improvement
                    strategies that improved customer service and staff efficiencies. Manage and oversaw training and
                    skills development for over 22 staff members.</li>
                <br>
                <li>Develop customer service course and seminars that target improving customer satisfaction.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Franklin McKinley Board of Education</h2>
            <ul>
                <li>Lead district initiative to increase reusable energy that decrease the district dependency on
                    fluctuating energy cost. Using district bond money and a public private partnership the district
                    was able construct solar panels across the school district. Money saved was refocused back to
                    increase teacher pay and retention.</li>
                <br>
                <li>Provided fiscal management and oversight of district funds through open district budget meetings
                    and community forums.</li>
                <br>
                <li>Lead district and community meetings to discuss integration of<a href="https://www.mercurynews.com/2015/03/12/achievement-rise-charter-and-traditional-schools-together-help-franklin-mckinley-kids/"
                        target="_blank"> charters School</a> that increase student achievement.</li>
            </ul>
        </div>
    </div>
</section> -->

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nyjahwood Demo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="Video" width="100%" height="390" src="https://www.youtube.com/embed/7IKobCF93_E?autoplay=1"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div id="catModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">GoluckyCat Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="catVideo" width="100%" height="390"
                    src="https://www.youtube.com/embed/75_CLivhDTc?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- <div id="hookedModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hooked Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="Video" width="100%" height="390" src="https://www.youtube.com/embed/7IKobCF93_E?autoplay=1"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div> -->

<!-- End of Modal HTML Section -->