<header>
    <div class="view">
     <img class="img-fluid" src="../assets/images/banner.jpg" width="100%">
     <div class="mask flex-center rgba-grey-light text-center">
        <h2 class="white-text text-fluid animated fadeIn" data-wow-duration="0.9s">"Passion lies at the intersection of creativity and curiosity"</h2>
    </div>
  </div>
  </header>

<!-- side Image -->
<div class="row m-5 animated fadeIn" data-wow-duration="0.9s">
    <div class="col-md-3 col-lg-3">
    <img class="img-fluid rounded-circle" src="../assets/images/keith.jpg">
    <p class="grey-text font-italic">I am a software developer who is very passionate about creating products that solve real world problems. I thrive working in a dynamic team environment that promotes growth, teamwork, and development.</p>
    </div>
    <!-- end of side image -->
    
    <!-- my story section -->
    <div class="col-md-8 grey-text">
        <h1 class="text-center">My Silicon Valley Story</h1>
        <p>My journey into software development began at a very young age. My family settled into Silicon Valley and was part of the tech revolution after we were displaced during the Vietnam War. My father worked as a engineer and my mom a technician for a bio medical company. Like many families we struggled to adjust culturally and economically but worked hard everyday to make a better life for ourselves here.</p>
        <p>My dad taught me from a young age to build, tinker and play with computers. Our first computer was a pentium x486 built by hand before it became more economically prudent to buy computers prepackaged through large companies like dell.</p>
        <p>From a very young age I always enjoy tinkering with new technology, sometimes breaking them to find out how it works and putting them back together. Needless to say this became an expensive hobby, but "that" curiosity never left me, It is part of who I am. Love me or hate me, i break things to learn, but always strive to make them better!
        </p>
        <p>Many years later coding has become an off shoot from my creativity.  Integrating  design, User Interfaces, and code into a working product that others can use drives me everyday. I love the feeling of delivering a finish product to a client. It feels great to see a plan come together. Let's build something!</p>
        <div class="row">
            <div class="col-md-4 col-lg-3 ml-lg-0">
                <!--Social buttons-->
                <div class="social-section text-center text-md-left">
                    <ul>
                        <li><a class="btn-floating btn-sm  mr-xl-4" href="https://github.com/lostanchovy" style= "color:tomato" target="_blank"><i class="fab fa-github-square fa-3x"></i></a></li>
                        <li><a class="btn-floating btn-sm  mr-xl-4" href="http://linkedin.com/in/keith-nguyen" style= "color:tomato" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
                    </ul>
                </div>
                <!--/.Social buttons-->
            </div>
        </div>
      </div>
    </div>
    <!-- end of header section  -->

<!-- Projects secion -->
<div id="projects">
<h1 class="white-text text-center">Coding Projects</h1>
  <section class="m-3 animated fadeInDown">
    <div class="row" id="cards">
            <div class="col-md-4">
                <div class="card mb-4 view overlay">
                    <img class="img-fluid" src="//apps.vendini.com/i/a01959a290d87b1c64a1b97491288b5180a767c4.jpg" alt="Card image cap">
                    <div class="mask flex-center rgba-indigo-light"></div>
                    <div class="card-body">
                        <h4 class="card-title">SF Carnival</h4>
                        <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM master, and a Project Owner working using the SCRUM project framework. </p>
                        <p class=" card-text font-weight-bold">technology: Mapbox, Angular 5, Ruby on Rails, Boostrap </p>
  
                        <!-- <p><a href="https://github.com/LostAnchovy/sf-carnaval-1" target="_blank">Github Repository</a></p> -->
                        <a class="btn btn-primary" href="https://draft-carnavalsf.netlify.com" target="_blank">Deployed Project</a>
                        
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseCarnaval" aria-expanded="false" aria-controls="collapseCarnaval">
                                project details
                        </a> -->
                        <!-- <div class="collapse" id="collapseCarnaval">
                                <div class="mt-3">
                                  <p class="card-text">Carnaval SF is a web based application that utilizes Angular 5 front end frame work and a Ruby on Rails back end. The Project was composed of 5 developers, a SCRUM master, and a Project Owner working using the SCRUM project framework.  The team used multiple technologies such as Mapbox, Angular, ruby on rails, and bootstrap to make the app user friendly, responsive and accessible across many platforms. </p>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>

                        <div class="col-md-4 ">
                            <div class="card mb-4 view overlay">
                                <img class="img-fluid" src="../assets/images/TLA.jpg" alt="Lost Anchovy Logo">
                                <div class="mask flex-center rgba-indigo-light"></div>
                                <div class="card-body">
                                    <h4 class="card-title">The Lost Anchovoy (IOS APP)</h4>
                                    <p class="card-text text-justify">Are you a fishing enthusiasts, a beginner, or just a dad that wants to take his kid fishing for the day? The Lost Anchovy is an application to help the average person and the experience fisherman learn learn how to catch, prepare and cook their own catch!</p> 
                                    <p class="card-text font-weight-bold">Technology: UIKit, coreLocation, and Mapkit</p>
                                      <!-- <p><a href="https://github.com/LostAnchovy/lostanchovyapp" target="_blank">Github Repository</a></p> -->
                                      <a class="btn btn-primary">project details</a>
  
                                    <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseIOS" aria-expanded="false" aria-controls="collapseIOS">
                                            project details
                                    </a> -->
                                    <!-- <div class="collapse" id="collapseIOS">
                                            <div class="mt-3">
                                                <p class="card-text">The Lost Anchovy App is an IOS application that provides locations, recipes, navigation, and tutorials for the Northern California fishing enthusiast or beginner. It was built with a team of <span class="font-weight-bold">2 developers using swift, UIKit, coreLocation, and Mapkit</span></p>
                                            </div>
                                        </div> -->
                                </div>
                            </div>
                        </div>
  
                        <div class="col-md-4 ">
                          <div class="card mb-4 view overlay">
                              <img class="img-fluid" src="../assets/images/angular.png" alt="Angular 5 logo">
                              <div class="mask flex-center rgba-indigo-light"></div>
                              <div class="card-body">
                                  <h4 class="card-title">Angular 5 Framework</h4>
                                  <p class="card-text">The website was created utilizing the Angular 5 framework. This website integrates many different technologies like Angular 5, Bootstrap, Jquery and googles material design. The wire frame was build out using Sketch. </p>
                                 
                                  <p><a href="https://github.com/LostAnchovy/portfolio">Github Repository</a></p>
        
                                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseAngular" aria-expanded="false" aria-controls="collapseAngular">
                                    project details
                                  </a>
                                  <div class="collapse" id="collapseAngular">
                                          <div class="mt-3">
                                              <p class="card-text">This Portfolio page was initially designed to show case projects and work that I have done as a developer. It is my intention to continue to grow this page to incorporate a tutorial section for those wishing to learn emerging technologies and a blog section for myself.  </p>
                                          </div>
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
               </section>
          </div>
          <!-- end of projects section -->
<!-- Start of Scrum Section -->
<!-- <h1 class="text-center grey-text"> SCRUM and Agile Trained</h1>
<div class="row m-5">
  <div class="col-md-3"> 
      <img class="img-fluid" src="../assets/images/scrum.png">
  </div>
  <div class="col-md-3">
    <h2>Project Sprints</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem esse, architecto perferendis ullam, quos non modi labore quibusdam maiores, eligendi quam porro! Facilis fuga cumque veniam praesentium. Tempore, eos.</p>
  </div>
  <div class="col-md-3">
      <h2>Daily Stand ups</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem esse, architecto perferendis ullam, quos non modi labore quibusdam maiores, eligendi quam porro! Facilis fuga cumque veniam praesentium. Tempore, eos.</p>
  </div>
  <div class="col-md-3">
      <h2>Retrospectives</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem esse, architecto perferendis ullam, quos non modi labore quibusdam maiores, eligendi quam porro! Facilis fuga cumque veniam praesentium. Tempore, eos.</p>
  </div>
</div> -->
<!-- end of scrum section -->

<h1 class="text-center">Leadership and Managment</h1>
<div class="row m-5">
  <div class="col-md-4">
    <h2 class="text-center">Policy Advisor - Office of Mayor Chuck Reed</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
  </div>
  <div class="col-md-4">
      <h2 class="text-center">Quality Assurance Executive</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Franklin McKinley Board of Education</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eaque tenetur veritatis vero? Praesentium veritatis libero perferendis eum voluptates ullam fugiat, tempore a cumque cupiditate deleniti illo, laborum quaerat nobis.</p>
      </div>
</div>